<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lenovo.mapper.HelloMapper">
    <insert id="addHelloInfo">
        INSERT INTO HELLO_USER(USER_NAME,PASSWORD) VALUE (#{userName},#{password})
    </insert>
</mapper>